@font-face {
  font-family: 'BlackHanSans';
  src: url('./fonts/BlackHanSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LeferiBold';
  src: url('./fonts/LeferiBaseBold.ttf') format('truetype');
}

@font-face {
  font-family: 'LeferiRegular';
  src: url('./fonts/LeferiBaseRegular.ttf') format('truetype');
}

.App {
  margin: 0;
  text-align: center;
  justify-content: center;
  align-content: center;
  width: 100vw;
  background-color: #101010;

  .pageSlider-enter {
    opacity: 0;
    transform: scale(1.1);
  }

  .pageSlider-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }

  .pageSlider-exit {
    opacity: 1;
    transform: scale(1);
  }

  .pageSlider-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
}

::-webkit-scrollbar {
  display: none;
}

// Pages

.page {
  overflow: hidden;
  background-color: #101010;
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100vw;
  margin: 0 auto;
  justify-content: center;
}

.main {
  color: white;
  background-color: #101010;
  height: 100vh;

  // first page welcome letter
  .welcome {
    line-height: 12rem;
    transition: all 0.4s;
    -webkit-text-stroke: 4px #ffffff;
    font-size: 10rem;
    text-align: center;
    color: white;
    font-family: 'BlackHanSans', sans-serif;
    text-shadow: 20px 20px 0px #000, 24px 24px 0px rgb(255, 255, 255);
    &:hover {
      color: transparent;
      text-shadow: -20px -20px 0px rgb(255, 255, 255),
        -24px -24px 0px rgb(0, 0, 0);
      cursor: pointer;
    }
  }
  // first page introduction letter
  .oneLineIntroduction {
    font-size: 4rem;
    font-family: 'LeferiBold';
    transition: all 0.4s;
    line-height: 5rem;
    margin-top: 2rem;
    text-shadow: 1px 1px 5px white;
    #myName {
      -webkit-text-stroke: 1px #ffffff;
      color: transparent;
      text-shadow: none;
    }
    &:hover {
      cursor: default;
    }
  }
  @media (max-width: 1920px) {
    .welcome {
      font-size: 7rem;
      line-height: 9rem;
      text-shadow: 10px 10px 0px #000, 13px 13px 0px rgb(255, 255, 255);
      &:hover {
        text-shadow: -10px -10px 0px rgb(255, 255, 255),
          -13px -13px 0px rgb(0, 0, 0);
      }
    }
    .oneLineIntroduction {
      font-size: 3rem;
      line-height: 4rem;
      margin-top: 30px;
    }
  }
  @media (min-width: 335px) and (max-width: 757px) {
    .welcome {
      font-size: 2.3rem;
      line-height: 3.4rem;
      text-shadow: none;
      font-family: 'LeferiBold';
      letter-spacing: 3px;
      text-shadow: 6px 0px 0px gray;
      &:hover {
        text-shadow: none;
        -webkit-text-stroke: 0.5px #ffffff;
      }
    }
    .oneLineIntroduction {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-top: 20px;
    }
  }
  @media (min-height: 844px) and (max-height: 926px) {
    .oneLineIntroduction {
      font-size: 1.2rem;
      line-height: 1.7rem;
    }
  }
}

.infoWrap {
  display: flex;
  width: 100vw;
  height: 120vh;
  margin: 0 auto;
  background-color: #101010;
  align-items: center;
  justify-content: center;
  .introduction {
    color: white;
    .sayHello {
      width: 50vw;
      font-family: 'LeferiBaseBold';
      text-align: left;
      h1 {
        margin: 0;
        font-size: 4rem;
      }
      h4 {
        margin: 0;
        font-size: 2rem;
      }
    }
    .wrap {
      display: flex;
    }
    .pBox {
      display: flex;
      border: 5px solid rgb(255, 255, 255);
      box-shadow: 3px 3px 0px rgb(190, 190, 190),
        20px 20px 0px rgb(255, 255, 255), 23px 23px 0px rgb(0, 0, 0);
      margin: 20px;
      width: 500px;
      height: 400px;
      border-radius: 10px;
      color: white;
      font-family: 'LeferiRegular';
      align-items: center;
      font-size: 19px;
      &:hover {
        cursor: pointer;
        background-color: white;
        color: black;
        font-weight: bolder;
      }
    }
    img {
      width: 350px;
      display: inline-block;
    }
    @media (max-width: 1920px) {
      .sayHello {
        h1 {
          font-size: 3rem;
        }
        h4 {
          font-size: 1.4rem;
        }
      }
      .pBox {
        width: 300px;
        height: 350px;
        font-size: 1rem;
      }
      img {
        width: 320px;
      }
    }
    @media (min-width: 335px) and (max-width: 757px) {
      height: 230vh;
      overflow: hidden;
      background-color: #101010;
      width: 100vw;
      .sayHello {
        margin-top: 90vh;
        width: 80vw;
        h1 {
          font-size: 2rem;
        }
        h4 {
          margin-top: 3px;
          font-size: 1rem;
        }
      }
      .wrap {
        flex-direction: column;
      }
      .pBox {
        margin: 5px;
        width: 300px;
        height: 170px;
        border: 1px solid white;
        box-shadow: none;
        padding: 5px;
        display: block;
        flex-direction: column;
        font-size: 1rem;
        overflow: scroll;
      }
    }
    @media (min-height: 844px) and (max-height: 962px) {
      .pBox {
        height: 200px;
        font-size: 1rem;
      }
    }
  }
}

.stack {
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: #101010;
  display: flex;
  .title {
    z-index: 3;
    color: white;
    font-size: 5rem;
    font-family: 'LeferiBold';
    margin-bottom: 30px;
    text-shadow: 7px 7px 0px black;
    &:hover {
      cursor: default;
    }
  }
  .stackBox {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 300px;
    height: 300px;
    margin: 20px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    transition: width, background-color 0.4s;
    overflow: hidden;
    &:hover {
      cursor: pointer;
      background-color: white;
      svg {
        width: 180px;
        transition: all 0.4s;
      }
    }
    svg {
      width: 140px;
      transition: all 0.4s;
    }
  }
  .one {
    border: 7px solid #e34f26;
  }
  .two {
    border: 7px solid #1572b6;
  }
  .three {
    border: 7px solid #f7df1e;
  }
  .four {
    border: 7px solid #3178c6;
  }
  .five {
    border: 7px solid #61dafb;
  }
  .six {
    border: 7px solid #cc6699;
  }
  .clickBoxes {
    font-size: 3rem;
    font-family: 'LeferiBold';
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    &:hover {
      cursor: default;
    }
  }

  @media (max-width: 1920px) {
    .title {
      font-size: 3.5rem;
      margin-bottom: 15px;
    }
    .stackBox {
      width: 230px;
      height: 230px;
      &:hover {
        svg {
          width: 120px;
        }
      }
      svg {
        width: 100px;
      }
    }
    .clickBoxes {
      font-size: 2.5rem;
    }
  }
  @media (min-width: 335px) and (max-width: 757px) {
    .title {
      font-size: 1.5rem;
    }
    .stackBox {
      margin: 7px;
      width: 100px;
      height: 100px;
      &:hover {
        svg {
          width: 70px;
        }
      }
      svg {
        width: 50px;
      }
    }
    .one {
      border: 3px solid #e34f26;
    }
    .two {
      border: 3px solid #1572b6;
    }
    .three {
      border: 3px solid #f7df1e;
    }
    .four {
      border: 3px solid #3178c6;
    }
    .five {
      border: 3px solid #61dafb;
    }
    .six {
      border: 3px solid #cc6699;
    }
    .clickBoxes {
      margin-top: 8px;
      font-size: 1.3rem;
      -webkit-text-stroke: 0.3px #ffffff;
    }
  }
}

.project {
  height: 390vh;
  background-color: #101010;
  color: white;
  .projects {
    margin: 100px 0px 0px 0px;
  }
  .title {
    font-family: 'LeferiBold';
  }
  .section {
    align-items: center;
    justify-content: center;
    width: 1300px;
    border: 2px solid white;
    height: 680px;
    border-radius: 50px;
    box-shadow: 5px 5px 0px black, 8px 8px 0px white;
    .explainBox {
      margin: 30px;
      font-family: 'LeferiRegular';
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .explain {
        display: flex;
        padding: 5px;
        align-items: center;
        border: 1px solid white;
        height: 470px;
        border-radius: 20px;
        font-size: 1.4rem;
        box-shadow: 5px 5px 0px black, 8px 8px 0px white;
      }
      .demoBtn {
        margin-top: 40px;
        width: 300px;
        height: 70px;
        font-size: 30px;
        font-family: 'LeferiBold';
        border-radius: 60px;
        background-color: transparent;
        border: 5px solid white;
        color: white;
        box-shadow: 5px 5px 0px black, 8px 8px 0px white;
        transition: all 0.3s;
        &:hover {
          background-color: #303030;
          transition: all 0.3s;
        }
        &:active {
          background-color: #181818;
          transform: translate(8px, 8px);
          box-shadow: none;
        }
      }
    }
    .img {
      img {
        border-radius: 20px;
        width: 580px;
        margin: 20px;
        box-shadow: 5px 5px 0px black, 8px 8px 0px white;
      }
    }
  }
  @media (max-width: 1920px) {
    height: 360vh;
    .section {
      width: 850px;
      height: 490px;
      .explainBox {
        .explain {
          height: 300px;
          font-size: 1rem;
        }
        .demoBtn {
          height: 65px;
          width: 250px;
          font-size: 1.4rem;
        }
      }
      .img {
        img {
          width: 400px;
          height: 400px;
        }
      }
    }
  }
  @media (min-width: 335px) and (max-width: 757px) {
    width: 100vw;
    height: 870vh;
    .section {
      height: 820px;
      width: 350px;
      padding: 10px;
      .explainBox {
        margin: 10px;
        padding: 10px;
        .explain {
          font-size: 1.1rem;
        }
      }
      .img {
        img {
          width: 300px;
          height: auto;
          position: relative;
          margin: 0px;
          box-shadow: none;
        }
      }
    }
  }
  @media (min-height: 844px) and (max-height: 926px) {
    height: 680vh;
    .section {
      height: 800px;
    }
  }
}

.info {
  height: 100vh;
  background-color: rgb(178, 178, 178);
}

.skill {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100vw;
  margin: 0 auto;
  justify-content: center;
  background-color: #101010;
  color: white;
  width: 100vw;
  height: 100vh;
  .title {
    font-family: 'LeferiBold';
    font-size: 5rem;
  }
  hr {
    width: 50vw;
    border: 2px solid white;
    opacity: 1;
  }
  @media (max-width: 1920px) {
    .title {
      font-size: 3rem;
    }
    hr {
      border: 1px solid white;
    }
  }
  @media (min-width: 335px) and (max-width: 757px) {
    .title {
      font-size: 2rem;
    }
    hr {
      margin: 0;
      width: 60vw;
    }
  }
}
.skillList {
  font-style: italic;
  color: white;
  width: 200px;
  height: 400px;
  border: 1px solid rgba($color: #ffffff, $alpha: 0.4);
  position: fixed;
  bottom: 500px;
  top: 500px;
  right: 100px;
  hr {
    margin: 0 auto;
    position: static;
    border: 1px solid white;
    opacity: 0.3;
    width: 100px;
  }
  a {
    padding: 10px 0px;
    display: block;
    text-decoration: none;
    color: white;
    line-height: 45px;
    font-size: 20px;
    font-family: 'LeferiRegular';
    transition: all 0.3s;
    &:hover {
      background-color: #2c2c2c;
      color: white;
      font-family: 'LeferiBold';
      font-size: 25px;
    }
  }
  .true {
    font-size: 25px;
    background-color: white;
    color: black;
    font-family: 'LeferiBold';
    text-decoration: underline;
    text-underline-position: under;
  }
  @media (max-width: 1920px) {
    width: 150px;
    height: 400px;
    top: 30vh;
    right: 50px;
    a {
      font-size: 1rem;
      &:hover {
        font-size: 1.2rem;
      }
    }
    .true {
      font-size: 1.2rem;
    }
  }
  @media (min-width: 335px) and (max-width: 757px) {
    display: none;
  }
}
.exitIcon {
  width: 55px;
  height: 55px;
  background-color: white;
  color: black;
  border-radius: 50px;
  position: absolute;
  top: 100px;
  right: 100px;
  line-height: 40px;
  font-size: 35px;
  opacity: 0.7;
  transition: all 0.3s;
  .ico {
    width: 35px;
  }
  &:hover {
    color: black;
    opacity: 1;
    transition: all 0.3s;
    box-shadow: 0px 5px 0px gray;
  }
  &:active {
    transform: translateY(5px);
    box-shadow: none;
    background-color: rgb(179, 179, 179);
  }
  @media (max-width: 1920px) {
    width: 35px;
    height: 35px;
    line-height: 10px;
    top: 50px;
    right: 50px;
    .ico {
      width: 25px;
    }
  }
  @media (min-width: 335px) and (max-width: 757px) {
    width: 25px;
    height: 25px;
    top: 30px;
    right: 30px;
    .ico {
      transform: translateY(-5px);
      width: 20px;
    }
  }
}

.arrows {
  right: 50px;
  top: 50vh;
  position: fixed;
  .arrow {
    transition: all 0.2s;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    line-height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    svg {
      position: relative;
      margin: 0 auto;
      color: black;
      padding: 7px;
    }
    &:hover {
      background-color: white;
      transition: all 0.2s;
      cursor: pointer;
      box-shadow: 0px 5px 0px rgb(73, 73, 73);
    }
    &:active {
      transform: translateY(10px);
      background-color: rgb(156, 156, 156);
      box-shadow: none;
    }
  }
  @media (max-width: 1920px) {
    .arrow {
      width: 40px;
      height: 40px;
      border-radius: 40px;
      svg {
        width: 40px;
        transform: translateY(-4px);
      }
    }
  }
  @media (min-width: 335px) and (max-width: 757px) {
    display: none;
  }
}

.resetWrap {
  right: 50px;
  top: 50vh;
  position: fixed;
  .reset {
    display: inline-block;
    transition: all 0.2s;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    svg {
      line-height: 50px;
      color: black;
      padding: 10px;
    }
    &:hover {
      background-color: white;
      transition: all 0.2s;
      cursor: pointer;
      box-shadow: 0px 5px 0px rgb(73, 73, 73);
    }
    &:active {
      background-color: rgb(156, 156, 156);
      width: 49px;
      height: 49px;
    }
  }
  @media (max-width: 1920px) {
    .reset {
      width: 40px;
      height: 40px;
      border-radius: 40px;
      svg {
        width: 40px;
        transform: translateY(-4px);
      }
    }
  }
  @media (min-width: 335px) and (max-width: 757px) {
    display: none;
  }
}

.sidebarBox {
  z-index: 2;
  position: fixed;
  text-align: right;
  top: 0;
  right: 0px;
  width: 180px;
  height: 400px;
  padding: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transition: all 0.5s;
  color: white;
  font-family: 'LeferiRegular';
  font-size: 20px;
  font-weight: bolder;
  .menu {
    font-style: italic;
    text-decoration: none;
    margin: 30px 0px;
    transition: all 0.5s;
    font-size: 20px;
    a {
      text-decoration: none;
      color: white;
      padding: 10px 12px;
      position: relative;
    }
    &:hover {
      transition: all 0.5s;
      cursor: pointer;
      transform: translateX(-5px);
    }
    &:first-child {
      margin-top: 20px;
    }
  }
  #true {
    font-weight: bolder;
    transition: all 0.5s;
    text-decoration: underline;
    text-underline-position: under;
  }
  @media (max-width: 1920px) {
    .menu {
      font-size: 15px;
    }
  }
  @media (min-width: 335px) and (max-width: 757px) {
    background-color: #101010;
    width: 100vw;
    height: 50px;
    top: 0;
    text-align: center;
    padding: 0;
    .menu {
      font-size: 13px;
      display: inline;
      &:hover {
        transform: translateX(0px);
      }
    }
  }
}

.loading {
  background-color: #101010;
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: 'LeferiBold';
  font-size: 30px;
  align-items: center;
  display: flex;
  .loadBox {
    margin: 0 auto;
    .loadLetter {
      margin-left: 100px;
    }
  }
  @media (max-width: 1920px) {
    font-size: 1.5rem;
  }
  @media (min-width: 335px) and (max-width: 757px) {
    .loadBox {
      .loadLetter {
        display: none;
      }
    }
  }
}
.notFoundPage {
  background-color: #101010;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  .errorMessage {
    margin: 0 auto;
  }
  .enError {
    font-family: 'LeferiBold';
    color: transparent;
    -webkit-text-stroke: 3px #ffffff;
    font-weight: bold;
    font-size: 150px;
    text-shadow: 15px 15px 0px black, 17px 17px 0px white;
    margin-bottom: 50px;
  }
  .koErrorWrap {
    margin-top: 50px;
  }
  .koError {
    font-size: 50px;
    font-family: 'LeferiRegular';
    text-shadow: 2px 2px 0px gray;
  }
  .returnPage {
    margin-top: 100px;
    background: black;
    color: white;
    border: 5px solid white;
    width: 400px;
    height: 80px;
    font-family: 'LeferiBold';
    font-size: 30px;
    border-radius: 3px;
    box-shadow: 5px 5px 0px white;
    transition: all 0.3s;
    &:hover {
      background-color: transparent;
      transition: all 0.3s;
    }
    &:active {
      background-color: black;
      position: relative;
      top: 5px;
      left: 5px;
      box-shadow: none;
    }
  }
  @media (max-width: 1920px) {
    .errorMessage {
      .enError {
        font-size: 5rem;
      }
      .koError {
        font-size: 2.4rem;
      }
      .returnPage {
        margin-top: 70px;
        width: 330px;
        height: 70px;
        font-size: 1.5rem;
      }
    }
  }
  @media (min-width: 335px) and (max-width: 757px) {
    .errorMessage {
      .enError {
        font-size: 2.5rem;
        text-shadow: 2px 2px 0px black, 4px 4px 0px white;
        -webkit-text-stroke: 1px #ffffff;
        margin-bottom: 30px;
      }
      hr {
        width: 80vw;
        margin: 0 auto;
      }
      .koErrorWrap {
        margin-top: 30px;
      }
      .koError {
        font-size: 1rem;
      }
      .returnPage {
        font-size: 1em;
        width: 180px;
        height: 50px;
        margin-top: 30px;
      }
    }
  }
}
